<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.lihongye.dao.UserMapper">

    <resultMap id="StudentResultMap" type="com.swpu.lihongye.pojo.Student">
        <id     column="student_id"     property="studentId"/>
        <result column="student_name"   property="studentName"/>
        <result column="age"            property="age"/>
        <result column="phone"          property="phone"/>
        <result column="address"         property="address"/>
    </resultMap>
    <resultMap id="ClassResultMap" type="com.swpu.lihongye.pojo.Class">
        <id     column="class_info"     property="classInfo"/>
        <result column="class_name"     property="className"/>
        <result column="work_info"      property="workInfo"/>
        <result column="class_teacher"  property="classTeacher"/>
    </resultMap>
    <resultMap id="TeacherResultMap" type="com.swpu.lihongye.pojo.Teacher">
        <id     column="work_info"      property="workInfo"/>
        <result column="teacher_name"   property="teacherName"/>
        <result column="phone"          property="phone"/>
        <result column="address"        property="address"/>
        <result column="sex"            property="sex"/>
    </resultMap>

    <!-- 查询教师 -->
    <select id="teacherSearch" resultMap="TeacherResultMap">
        SELECT * FROM teacher_message
        <where>
            <if test="teacherName != null and teacherName != ''">
                AND teacher_name = #{teacherName}
            </if>
            <if test="workInfo != null and workInfo != ''">
                AND work_info = #{workInfo}
            </if>
        </where>
    </select>


    <!--     查询班级 -->
    <select id="classSearch" resultMap="ClassResultMap">
        SELECT * FROM class_message
        <where>
            <if test="classInfo !=null">
                AND class_info =#{classInfo}
            </if>
        </where>
    </select>

    <!-- 查询学生 -->
    <select id="studentSearch" resultMap="StudentResultMap">
        SELECT * FROM student_message
        <where>
            <if test="studentName!=null and studentName!=''">
                AND student_name=#{studentName}
            </if>
            <if test="studentInfo!=null">
                AND student_id=#{studentInfo}
            </if>
        </where>
    </select>

    <parameterMap id="TeacherParameterMap" type="com.swpu.lihongye.pojo.Teacher">
        <parameter property="teacherName"   resultMap="TeacherResultMap"/>
        <parameter property="workInfo"      resultMap="TeacherResultMap"/>
        <parameter property="address"       resultMap="TeacherResultMap"/>
        <parameter property="phone"         resultMap="TeacherResultMap"/>
        <parameter property="sex"           resultMap="TeacherResultMap"/>
    </parameterMap>

    <parameterMap id="StudentParameterMap" type="com.swpu.lihongye.pojo.Student">
        <parameter property="studentName"   resultMap="StudentResultMap"/>
        <parameter property="studentId"     resultMap="StudentResultMap"/>
        <parameter property="address"       resultMap="StudentResultMap"/>
        <parameter property="phone"         resultMap="StudentResultMap"/>
        <parameter property="age"           resultMap="StudentResultMap"/>
    </parameterMap>

    <parameterMap id="ClassParameterMap" type="com.swpu.lihongye.pojo.Class">
        <parameter property="className"   resultMap="ClassResultMap"/>
        <parameter property="classInfo"     resultMap="ClassResultMap"/>
        <parameter property="classTeacher"       resultMap="ClassResultMap"/>
        <parameter property="workInfo"         resultMap="ClassResultMap"/>
    </parameterMap>

    <!-- 新增教师 -->
    <insert id="teacherInsert" parameterMap="TeacherParameterMap">
        INSERT INTO teacher_message (work_info, teacher_name, sex, phone,address)
        VALUES (#{workInfo}, #{teacherName}, #{sex}, #{phone},#{address})
    </insert>

    <!-- 新增学生 -->
    <insert id="studentInsert" parameterMap="StudentParameterMap">
        INSERT INTO student_message (student_name, student_id, age, phone,address)
        VALUES (#{studentName}, #{studentId}, #{age}, #{phone},#{address})
    </insert>

    <!-- 新增班级 -->
    <insert id="classInsert" parameterMap="ClassParameterMap">
        INSERT INTO class_message (class_info, work_info, class_name, class_teacher)
        VALUES (#{classInfo}, #{workInfo}, #{className}, #{classTeacher})
    </insert>
</mapper>
